#page-create-point{
    width: 90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-create-point header{  
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a{  
    display: flex;
    
}

#page-create-point header a span{  
    display: flex;
    height: 20px;
    width: 20px;
    background-image: url('../assets/log-in.svg');
    margin-right: 16px;
}