
@media (max-width: 900px){
    #page-home{
        background-position-x: 70vh ;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main{
        align-items: center;
    }

}

/* Monitor ultrawide */
@media (min-width: 1550px){
    #page-home{
        height: 95vh;
       
        background-position: 47vw bottom;
    }
}